mixin section-form(data)
	+b('section').section-form(id='section-form')&attributes(attributes)

		.left

		.center
			+e('h2').title= data.h2
			+e('form').form
				input(type='text', placeholder='Ваше имя', name='name')
				input(type='text', placeholder='Ваш email', name='mail')
				input(type='text', placeholder='Ваш телефон', name='phone')
				button(type='submit') ЗАРЕГИСТРИРОВАТЬСЯ

		.right

