import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'


import('../blocks/**/*')

@import 'helpers/animate.css'
html
	min-width 1200px

body
	font-family 'Circe'
	background-color #3e5e85
	background radial-gradient(ellipse at center, #0a6a84 0%,#042c3b 100%,#7db9e8 100%)
	background-repeat no-repeat
	min-width 1200px

strong
	font-weight 700

em
	font-style italic


.wrapper
	min-width 1200px
	width 1200px
	margin auto
	position relative

.closeModal
	margin-top 20px
	margin-bottom 50px
	text-align center
	opacity 0.8

	&:hover
		opacity 1

.modal-content
	color white
	width 80%
	margin auto
	padding 20px

.modalContainer
	border 5px solid #00dffd
	background-image url(../../images/partners_bg.png)
	background-repeat-y no-repeat





