import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

html
	min-width 1200px

body
	font-family 'Circe'
	background-color #3e5e85
	background radial-gradient(ellipse at center, #0a6a84 0%,#042c3b 100%,#7db9e8 100%)
	background-repeat no-repeat
	min-width 1200px


.wrapper
	min-width 1200px
	width 1200px
	margin auto
	position relative



