@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../../fonts/opensans/opensans.woff2') format('woff2'), url('../../fonts/opensans/opensans.woff') format('woff'), url('../../fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../../fonts/circeregular/CRC35__W.eot');
    src:
            url('../../fonts/circeregular/CRC35__W.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/circeregular/CRC35__W.woff2') format('woff2'),
            url('../../fonts/circeregular/CRC35__W.woff') format('woff'),
            url('../../fonts/circeregular/CRC35__W.ttf') format('truetype'),
            url('../../fonts/circeregular/CRC35__W.svg#CirceWeb-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
//
//
//@font-face {
//    font-family: 'Circe';
//    src: local('Circe'), local('Circe'), url('../../fonts/circeregular/Circe-Regular.woff') format('woff'), url('../../fonts/circeregular/Circe-Regular.ttf') format('truetype');
//    font-weight: 400;
//    font-style: normal;
//}

@font-face {
    font-family: 'Circe Bold';
    src: url('../../fonts/circeextrabold/CRC65__W.eot');
    src:
            url('../../fonts/circeextrabold/CRC65__W.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/circeextrabold/CRC65__W.woff2') format('woff2'),
            url('../../fonts/circeextrabold/CRC65__W.woff') format('woff'),
            url('../../fonts/circeextrabold/CRC65__W.ttf') format('truetype'),
            url('../../fonts/circeextrabold/CRC65__W.svg#CirceWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
//
//@font-face {
//    font-family: 'Circe Bold';
//    src: local('Circe Bold'), local('Circe Bold'), url('../../fonts/circeextrabold/CRC65.woff') format('woff');
//    font-weight: 400;
//    font-style: normal;
//}


