@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../../fonts/opensans/opensans.woff2') format('woff2'), url('../../fonts/opensans/opensans.woff') format('woff'), url('../../fonts/opensans/opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: local('Circe'), local('Circe'), url('../../fonts/circeregular/Circe-Regular.woff') format('woff'), url('../../fonts/circeregular/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Bold';
    src: local('Circe Bold'), local('Circe Bold'), url('../../fonts/circeextrabold/CRC65.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


