.fixed-menu
	position fixed
	z-index 9990
	top 0
	width 100%
	transform: translateZ(0);
	-webkit-transform: translateZ(0);

	transition: all 0.3s ease-in-out;

	&.white
		background-color white
		box-shadow 0px 2px 10px 0px rgba(50, 50, 50, 0.75)


	.wrapper
		display flex
		align-items center

		padding 25px 40px
		//border 1px solid red

	.nav
		margin-left 90px
