.section-partners
	display block
	padding-top 110px
	padding-bottom 150px
	background url(../../images/partners_bg.png)

	&__title
		color white
		font-size 50px
		font-family 'Circe Bold'
		margin-bottom 80px

	.partner-wrapper
		width 916px
		margin auto
		padding-top 40px
		padding-bottom 60px
		text-align center
		background rgba(14,110,142, 0.4)
		position relative

		&:after
			content ''
			display block
			position absolute
			top -25px
			right -135px
			sprite $girl_1