.footer
	display flex
	background-color #2d3438
	padding-top 10px
	padding-bottom 35px
	box-shadow 8px -13px 50px -4px #000

	.wrapper
		padding 25px 40px
		padding-left 50px
		display flex

	&__copyright
		font-size 18px
		color white
		text-align left
		font-family 'Open Sans'
		margin-top 50px
		font-weight 600
		line-height 24px

	.socials
		position absolute
		right 50px
		bottom 40px