mixin section-security(data)
	+b('section').section-security&attributes(attributes)
		+e('h2').title= data.h2
		+e('p').sub-text= data.text
		+e.feature-list
			ul.feature-list-columnize-js
				each item in data.items
					li= item.text
